<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Map Cases</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/> 
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>    
  <!-- Plots -->
    <div class="container"> 
      <div class="row">
        <div class="col-9" id="plotdos">
        </div>
      </div>
        <div class="row">
          <div class=".col-8" id="pie">
          </div>
          <div class=".col-4" id="plotage">
          </div>
        </div>
      </div>

  <!-- JS script -->
    <script src="../static/js/data.js"></script>
    <script src="../static/js/state.js"></script>
</body>
</html>
 
{% endblock %}