<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estados</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    
</head>
<body>

    <div id="plotdos"></div>
    
    <script src="../static/js/data.js"></script>
    <script src="../static/js/state.js"></script>
</body>
</html> 
{% endblock %}